In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv('all.csv', header=0, encoding='utf-8')

In [ ]:
df.head()

In [ ]:
import json

df['tag_type'] = df['tags'].apply(lambda x: 'list' if '[' in x else 'str')
df['tag_type'].value_counts()

In [ ]:
df[df['tag_type'] == 'list'].head()

In [ ]:
df.loc[(df.tag_type == 'list'), 'tags'] = df.loc[(df.tag_type == 'list'), 'tags'].apply(lambda x: ";".join(json.loads(x.replace('\'', '"'))))

In [ ]:
df.loc[(df.tag_type == 'list'), 'tags']

In [ ]:
df = df.drop(columns=['tag_type'])
df.to_csv('all_v2.csv', index=False)

In [ ]:
df = pd.read_csv('all_v2.csv', header=0, encoding='utf-8')

In [ ]:
df.head()

In [ ]:
freq = pd.Series((" ".join(df.loc[df.tags.notnull(), 'tags'].str.replace(';', ' '))).split()).value_counts()
freq.to_csv('freq.csv')

In [ ]:
df.tags.apply(lambda x: 'str' if isinstance(x, str) else 'non_str').value_counts()

In [ ]:
df.tags.isna()

In [ ]:
freq = pd.read_csv('freq.csv', header=0)

In [ ]:
freq.loc[:50,]

In [ ]:
with open('freq.json', 'w', encoding='utf-8') as f:
    freq.to_json(f, orient="index", force_ascii=False, indent=2)

In [ ]:
def get_freq(df):
    return pd.Series((" ".join(df.loc[df.tags.notnull(), 'tags'].str.replace(';', ' '))).split()).value_counts()[:50]

grps = df.groupby(['KADAA_ID', 'KADAA_AR', 'KADAA_EN'])
res = {}
for name, group_df in grps:
    _id, ar, en = name
    res[int(_id)] = {
        'KADAA_AR': ar,
        'KADAA_EN': en,
        'trending': list(get_freq(group_df).index)
    }

In [ ]:
import json
with open('kaddaas_trending.json', 'w', encoding='utf-8') as f:
    f.write(json.dumps(res, indent=2, ensure_ascii=False))

In [ ]:
topics = df[['text', 'date', 'KADAA_ID', 'KADAA_AR', 'KADAA_EN', 'MOHAFAZA_ID', 'MOHAFAZA_AR', 'MOHAFAZA_EN']].copy()
topics

In [ ]:
def n_grams(s, n_range):
    ngrams = []
    words = s.split()
    length = len(words)
    for n in n_range:
        for i in range(length):
            if i + n <= length:
                ngrams.append(" ".join(words[i: i + n]))
    return ngrams

In [ ]:
s = topics['text'].apply(lambda x: n_grams(x, [2, 3])).apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1) # to line up with df's index
s.name = 'text' # needs a name to join
del topics['text']
topics = topics.join(s).reset_index()
topics

In [ ]:
topics = topics.drop(columns=['index'])
topics.columns

In [ ]:
topics

In [ ]:
topics.to_csv('topics.csv', index=False)

In [ ]:
topics.text.value_counts().reset_index()

In [79]:
topics = pd.read_csv('topics.csv', header=0)
# topics[['year', 'month', 'day']] = topics['date'].str.split('-', expand=True)
topics

,date,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN,text,year,month,day
0,2020-07-12,83000,ØµÙˆØ±,Sour,8,Ø§Ù„Ø¬Ù†ÙˆØ¨,South,#ÙƒÙˆØ±ÙˆÙ†Ø§ ÙŠØªÙ„Ù,2020,7,12
1,2020-07-12,83000,ØµÙˆØ±,Sour,8,Ø§Ù„Ø¬Ù†ÙˆØ¨,South,ÙŠØªÙ„Ù Ø±Ø¦Ø©,2020,7,12
2,2020-07-12,83000,ØµÙˆØ±,Sour,8,Ø§Ù„Ø¬Ù†ÙˆØ¨,South,"Ø±Ø¦Ø© ""Ø£Ø¨Ùˆ",2020,7,12
3,2020-07-12,83000,ØµÙˆØ±,Sour,8,Ø§Ù„Ø¬Ù†ÙˆØ¨,South,"""Ø£Ø¨Ùˆ Ø¹Ø²Ø±Ø§Ø¦ÙŠÙ„""",2020,7,12
4,2020-07-12,83000,ØµÙˆØ±,Sour,8,Ø§Ù„Ø¬Ù†ÙˆØ¨,South,"Ø¹Ø²Ø±Ø§Ø¦ÙŠÙ„"" (ØµÙˆØ±Ø©)",2020,7,12
...,...,...,...,...,...,...,...,...,...,...,...
2013306,2020-01-01,41000,Ø²Ø­Ù„Ø©,Zahle,4,Ø§Ù„Ø¨Ù‚Ø§Ø¹,Bekaa,upcoming transformation of,2020,1,1
2013307,2020-01-01,41000,Ø²Ø­Ù„Ø©,Zahle,4,Ø§Ù„Ø¨Ù‚Ø§Ø¹,Bekaa,transformation of the,2020,1,1
2013308,2020-01-01,41000,Ø²Ø­Ù„Ø©,Zahle,4,Ø§Ù„Ø¨Ù‚Ø§Ø¹,Bekaa,of the 20s!,2020,1,1
2013309,2020-01-01,41000,Ø²Ø­Ù„Ø©,Zahle,4,Ø§Ù„Ø¨Ù‚Ø§Ø¹,Bekaa,the 20s! https://twitter.com/SeanShirvaniMD/st...,2020,1,1
2013310,2020-01-01,41000,Ø²Ø­Ù„Ø©,Zahle,4,Ø§Ù„Ø¨Ù‚Ø§Ø¹,Bekaa,20s! https://twitter.com/SeanShirvaniMD/status...,2020,1,1

In [ ]:
topics.to_csv('topics.csv', index=False)

In [93]:
import json
res = {}
grp = topics.groupby(['year', 'month', 'KADAA_ID', 'KADAA_AR', 'KADAA_EN'])
for name, group in grp:
    df = group.reset_index().drop(columns=['index'])
    y,  m, _id, ar, en = name
    key = str(y) + '_' + str(m) + '_' + str(_id) + '_' + str(ar) + '_' + str(en)
    res[key] = list(df.text.value_counts()[:50].index)

with open('kadaas_topics.json', 'w', encoding='utf-8') as f:
    f.write(json.dumps(res, indent=2, ensure_ascii=False))

In [28]:
df = pd.read_csv('kadaas_topics.csv', header=0)

In [29]:
df

,year,month,KADAA_ID,KADAA_AR,KADAA_EN,topics
0,2020,2,11000,Ø¹ÙƒÙ‘Ø§Ø±,Akkar,"['Therapy', '#jobs']"
1,2020,2,21000,Ø§Ù„Ù‡Ø±Ù…Ù„,El Hermel,"['#Ø§Ù„ÙƒÙˆØ±ÙˆÙ†Ø§', 'ØªØ¹Ù„ÙŠÙ‚ Ø§Ù„Ø·Ø§Ø¦Ø±Ø§Øª Ø§Ù„Ù‚Ø§Ø¯Ù…Ø©', '#ÙˆØ²ÙŠØ±..."
2,2020,2,22000,Ø¨Ø¹Ù„Ø¨Ùƒ,Baalbek,"['Medical Aid', 'healthcare services']"
3,2020,2,31000,Ø¨ÙŠØ±ÙˆØª,Beirut,"['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', 'refugees', 'ÙˆØ²ÙŠØ± Ø§Ù„ØµØ­Ø©', '..."
4,2020,2,41000,Ø²Ø­Ù„Ø©,Zahle,"['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†_ÙŠÙ†ØªÙØ¶ #Ù„Ø§_Ø¯Ø§Ø¹ÙŠ_Ù„Ù„Ù‡Ù„Ø¹', 'first..."
...,...,...,...,...,...,...
175,2020,8,74000,Ø§Ù„Ø¨ØªØ±ÙˆÙ†,El Batroun,"['Ù…Ù†Ø¸Ù…Ø© Ø§Ù„ØµØ­Ø© Ø§Ù„Ø¹Ø§Ù„Ù…ÙŠØ©', 'Ù…Ù†Ø¸Ù…Ø© Ø§Ù„ØµØ­Ø©', 'Ø§Ù„ØµØ­Ø©..."
176,2020,8,76000,Ø¨Ø´Ø±Ù‘ÙŠ,Bcharre,"['do believe', '#ChinaVirus #ChinaWillPay', 'm..."
177,2020,8,81000,ØµÙŠØ¯Ø§,Saida,"['Ø±Ø¦ÙŠØ³ Ù…Ù†Ø¸Ù…Ø© Ø§Ù„ØµØ­Ø©', 'Ù…Ø¹Ù†Ø§ Ø§Ù„Ø§ÙƒØ«Ø±ÙŠØ© ÙƒÙ†Ø§', 'Ø§Ù„Ø§..."
178,2020,8,82000,Ø¬Ø²Ù‘ÙŠÙ†,Jezzine,"['#Ù…Ø¯ÙŠÙ†Ø©_ØµÙˆØ± #TyrePage', 'Ø¹Ù†Ø§ Ø´Ø± Ø§Ù„Ø£Ù…ÙˆØ±', 'â¤ ğŸ‡±..."
179,2020,8,83000,ØµÙˆØ±,Sour,"['Ù„Ø£Ù†ÙƒÙ† Ø´Ø¹Ø¨', 'Ø¨Ù„Ø§ Ù…Ø®', 'Ù‡Ø§Ù„Ù…Ø¹Ø§Ù…Ù„Ø©!!!! #ÙƒÙˆØ±ÙˆÙ†Ø§..."

In [30]:
grp = df.groupby('KADAA_ID')
for n, g in grp:
    print(g.month.unique())

[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]
[2 3 4 5 6 7 8]

In [32]:
df[df.month == 4].topics.map(lambda x: print(x, '\n---------------------------'))

['first Arab country', 'legalise cannabis', 'medical marijuana', '#Ù„Ø¨Ù†Ø§Ù† #ÙƒÙˆØ±ÙˆÙ†Ø§']
---------------------------
['#Lebanon']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù†', 'COVID-19']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', '#ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù† #Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª', 'ÙÙŠØ±ÙˆØ³ ÙƒÙˆØ±ÙˆÙ†Ø§', 'Ø¬Ø¯ÙŠØ¯Ø© Ø¨ÙÙŠØ±ÙˆØ³', 'Ø¥ØµØ§Ø¨Ø© Ø¬Ø¯ÙŠØ¯Ø©', 'medical cannabis', '#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†_ÙŠÙ†ØªÙØ¶']
---------------------------
['ÙƒÙˆØ±ÙˆÙ†Ø§ Ù„Ø¨Ù†Ø§Ù†', 'ÙˆØ²Ø§Ø±Ø© Ø§Ù„ØµØ­Ø©', 'ÙˆØ¨Ø§Ø¡ ÙƒÙˆØ±ÙˆÙ†Ø§', '#Ø¨Ø§Ù„ÙˆØ¹ÙŠ_Ù†ÙˆØ§Ø¬Ù‡_Ø§Ù„ÙƒÙˆØ±ÙˆÙ†Ø§']
---------------------------
['Ø§Ù„Ø­ÙƒÙˆÙ…Ø© Ø§Ù„Ù„Ø¨Ù†Ø§Ù†ÙŠØ©', '#Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª #ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù†', 'Ø§Ù„ØªØ¹Ø¨Ø¦Ø© Ø§Ù„Ø¹Ø§Ù…Ø©', '#Ù…Ø´_Ù…Ø²Ø­Ø© #Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª #Covid_19', '#Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª #Covid_19', 'ÙˆØ²Ø§Ø±Ø© Ø§Ù„ØµØ­Ø©', '#Ù…Ø´_Ù…Ø²Ø­Ø©', 'Ù…Ø±Ø¶ Ù…Ø´ Ù„Ø¹Ø¨Ø©']
---------------------------
['#ÙƒÙˆÙÙŠØ¯_19 #Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª', '#ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù† #ÙƒÙˆØ±ÙˆÙ†Ø§', '#Ø®Ù„ÙŠÙƒ_ÙÙŠ_Ø§Ù„Ø¨ÙŠØª #Ø§Ù„Ø­Ø¬Ø±_Ø§Ù„Ù…Ù†Ø²Ù„ÙŠ', 'Ø¨Ù„Ø§ Ù…Ø³Ø¤ÙˆÙ„ÙŠØ©']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', '#ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù† #ÙƒÙˆØ±ÙˆÙ†Ø§', '#ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù† #Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª', '#Ù„Ø¨Ù†Ø§Ù†_ÙŠÙ†ØªÙØ¶ #Ù„Ø¨Ù†Ø§Ù†', '#ÙƒÙ„Ù†_ÙŠØ¹Ù†ÙŠ_ÙƒÙ„Ù† #ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù† #ÙƒÙˆØ±ÙˆÙ†Ø§', '#Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¯Ø§Ø± #COVID2019', '#Ø§Ù„Ø­Ø¬Ø±_Ø§Ù„Ù…Ù†Ø²Ù„ÙŠ']
---------------------------
['medical marijuana', '#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', '#Ø§Ù„Ø­Ø¬Ø±_Ø§Ù„Ù…Ù†Ø²Ù„ÙŠ', '#Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª #ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù†']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', 'ÙˆØ²Ø§Ø±Ø© Ø§Ù„ØµØ­Ø©', 'ÙÙŠØ±ÙˆØ³ #ÙƒÙˆØ±ÙˆÙ†Ø§', 'Ø§Ø¬Ù…Ø§Ù„ÙŠ Ø§Ù„Ø¥ØµØ§Ø¨Ø§Øª', 'Ø¥ØµØ§Ø¨Ø© Ø¬Ø¯ÙŠØ¯Ø©']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', '#StayAtHome #StayHome', '#ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù† #Covid_19', '#Ø§Ù„Ø­Ø¬Ø±_Ø§Ù„Ù…Ù†Ø²Ù„ÙŠ #Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', 'ÙˆØ²Ø§Ø±Ø© Ø§Ù„ØµØ­Ø©', 'ÙˆØ²ÙŠØ± Ø§Ù„ØµØ­Ø©', '#Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª #ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù†', 'Ø§Ù„ØªØ¹Ø¨Ø¦Ø© Ø§Ù„Ø¹Ø§Ù…Ø©', '#StayHome #StaySafe', 'Ø§ØµØ§Ø¨Ø§Øª Ø¬Ø¯ÙŠØ¯Ø©', 'ÙˆØ²ÙŠØ± Ø§Ù„Ø¯Ø§Ø®Ù„ÙŠØ©', '#Ø®Ù„ÙŠÙƒ_ÙˆØ§Ø¹ÙŠ #Ù„Ø¨Ù†Ø§Ù†']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', 'Ø¥ØµØ§Ø¨Ø§Øª Ø¬Ø¯ÙŠØ¯Ø©', '#ÙˆØ²Ø§Ø±Ø©_Ø§Ù„ØµØ­Ø©']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', 'medical cannabis', '#Covid_19 #ÙƒÙˆØ±ÙˆÙ†Ø§', '#Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª #ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù†', '#Ø§Ù„Ø­ÙŠÙˆØ§Ù†Ø§Øª_Ù„Ø§_ØªÙ†Ù‚Ù„_Ø§Ù„Ø¹Ø¯ÙˆÙ‰ #ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù†', 'Ø§Ù„Ø­Ø¬Ø± Ø§Ù„Ù…Ù†Ø²Ù„ÙŠ']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù† #Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª #ÙˆØ·Ù†Ùƒ_Ø¨ÙŠØªÙƒ #ÙƒÙˆØ±ÙˆÙ†Ø§']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', '#COVID19 #Lebanon']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†']
---------------------------
['Ø·Ø±Ø§Ø¨Ù„Ø³', '#StayHome #StayAtHome', '#Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª #ÙƒÙˆØ±ÙˆÙ†Ø§', '#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', 'Ø§Ø³ÙˆØ§Ù‚ Ø·Ø±Ø§Ø¨Ù„Ø³ Ø§Ù„ÙŠÙˆÙ…', '#Corona #StayHome', 'Ø§Ù„ØªØ²Ø§Ù… ØªØ§Ù…']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', 'Ø­Ø§Ù„Ø§Øª Ø¬Ø¯ÙŠØ¯Ø©', '#Ù„Ø¨Ù†Ø§Ù†_ÙŠÙ†ØªÙØ¶ #ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù†', '#Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª #ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù†', 'ÙˆØ²ÙŠØ± Ø§Ù„ØµØ­Ø©', 'ÙˆØ²Ø§Ø±Ø© Ø§Ù„ØµØ­Ø©']
---------------------------
['Ø§Ù„Ù‚Ø¹Ø¯Ø© Ø¨Ø§Ù„Ø¨ÙŠØª', 'ÙƒÙˆØ±ÙˆÙ†Ø§ Ù„Ø¨Ù†Ø§Ù†']
---------------------------
['#Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª\u2069 \u2067#ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù†', '#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', '#Ø®Ù„ÙŠÙƒ_ÙÙŠ_Ø§Ù„Ø¨ÙŠØª', '#Ø¨Ø´Ø±Ù‘ÙŠ']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù†', 'Syrian refugees', 'ÙˆÙØ§Ø© Ø¬Ø¯ÙŠØ¯Ø©']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù† #ÙƒÙˆØ±ÙˆÙ†Ø§', 'Ø§Ù„Ù‚Ø¹Ø¯Ø© Ø¨Ø§Ù„Ø¨ÙŠØª', '#ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù† #Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª', 'ÙˆØ²ÙŠØ± Ø§Ù„Ø¯Ø§Ø®Ù„ÙŠØ©', 'ÙˆØ²ÙŠØ± Ø§Ù„ØµØ­Ø©', 'Ø§Ù„Ø­Ø¬Ø² Ø§Ù„Ù…Ù†Ø²Ù„ÙŠ']
---------------------------
['#Ø®Ù„ÙŠÙƒ_Ø¨Ø§Ù„Ø¨ÙŠØª #ÙƒÙˆØ±ÙˆÙ†Ø§', 'medical cannabis']
---------------------------
['#ÙƒÙˆØ±ÙˆÙ†Ø§ #Ù„Ø¨Ù†Ø§Ù†', '#ÙƒÙˆØ±ÙˆÙ†Ø§_ÙØ§ÙŠØ±ÙˆØ³ #Ù…Ø¯ÙŠÙ†Ø©_ØµÙˆØ±', '#Ù…Ø§_ØªØ³ØªÙ‡ØªØ± #ÙƒÙˆØ±ÙˆÙ†Ø§ #ÙƒÙˆØ±ÙˆÙ†Ø§_ÙØ§ÙŠØ±ÙˆØ³', '#ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù† #Ø®Ù„ÙŠÙƒ_ÙÙŠ_Ø§Ù„Ø¨ÙŠØª', '#Ø­Ù…Ø¯_Ø­Ø³Ù† #ÙƒÙˆØ±ÙˆÙ†Ø§_Ù„Ø¨Ù†Ø§Ù†']
---------------------------

52    None
53    None
54    None
55    None
56    None
57    None
58    None
59    None
60    None
61    None
62    None
63    None
64    None
65    None
66    None
67    None
68    None
69    None
70    None
71    None
72    None
73    None
74    None
75    None
76    None
77    None
Name: topics, dtype: object