In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('all.csv', header=0, encoding='utf-8')

In [13]:
df.head()

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN
0,Lebanon 24,2020-07-12,"#كورونا يتلف رئة ""أبو عزرائيل"" (صورة) #العراق#...",#كورونا;#العراق;#lebanon24,"Corona damages the lung of ""Abu Azrael"" (photo...",0.000000,صور,33.2733,35.1939,Neutral,83000,صور,Sour,8,الجنوب,South
1,Sana,2020-07-12,حضرة اساتذة القانون بالجامعة اللبنانية المحترم...,#كورونا;#امتحانات_الموت,Honorable professors of law at the Lebanese Un...,0.325000,العربانية,33.8772,35.6786,Positive,51000,بعبدا,Baabda,5,جبل لبنان,Mount Lebanon
2,Jaras Scoop FM,2020-07-12,"كشفت ""رابطة طلاب الجامعة اللبنانية"" عبر تويتر ...",#كورونا,"The ""Lebanese University Students Association""...",-0.300000,طلصا,33.4833,35.3471,Negative,81000,صيدا,Saida,8,الجنوب,South
3,Lebanon Debate,2020-07-12,"حالة ""#كورونا"" جديدة في الجامعة اللبنانية - ال...",#كورونا,"New ""# Corona"" case at the Lebanese University...",0.136364,حاقل,34.1705,35.7501,Positive,56000,جبيل,Jbeil,5,جبل لبنان,Mount Lebanon
4,عاجل - قناة فلسطين اليوم,2020-07-12,#عاجلمدير مكتب إعلام الأسرى ناهد الفاخوري: حذر...,#كورونا;#عاجل,#UrgentThe director of the Prisoners' Informat...,-0.283333,مكاتبة,33.5628,35.3789,Negative,81000,صيدا,Saida,8,الجنوب,South

In [17]:
import json

df['tag_type'] = df['tags'].apply(lambda x: 'list' if '[' in x else 'str')
df['tag_type'].value_counts()

str    51683
Name: tag_type, dtype: int64

In [15]:
df[df['tag_type'] == 'list'].head()

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN,tag_type
34273,maroungh1,2020-08-03,2 days break Corona,[],2 days break Corona,0.000000,بيروت,33.8719,35.5097,Neutral,31000,بيروت,Beirut,3,بيروت,Beirut,list
34274,karampeter,2020-08-03,I don’t think its a corona matter,[],I don’t think its a corona matter,0.000000,بيروت,33.8719,35.5097,Neutral,31000,بيروت,Beirut,3,بيروت,Beirut,list
34275,assafnicole,2020-08-03,So the minister of health went on to brag abou...,[],So the minister of health went on to brag abou...,0.166667,أرضة,34.4083,35.9149,Positive,73000,زغرتا,Zgharta,7,الشمال,North,list
34276,nabillllllll75,2020-08-03,Lhamdela kelshi tamem... corona w kaza 😂😂 i wi...,[],Lhamdela kelshi tamem... corona w kaza 😂😂 i wi...,0.000000,قوزح,33.1214,35.3383,Neutral,62000,بنت جبيل,Bent Jbeil,6,نبطية,Nabatiyeh,list
34277,perejad,2020-08-02,Aywaa a7la chi...\nBa3d l corona khalas fi naz...,[],Aywaa a7la chi ...\nBa3d l corona khalas fi na...,0.000000,عاليه,33.8053,35.6000,Neutral,54000,عاليه,Aley,5,جبل لبنان,Mount Lebanon,list

In [16]:
df.loc[(df.tag_type == 'list'), 'tags'] = df.loc[(df.tag_type == 'list'), 'tags'].apply(lambda x: ";".join(json.loads(x.replace('\'', '"'))))

In [18]:
df.loc[(df.tag_type == 'list'), 'tags']

Series([], Name: tags, dtype: object)

In [19]:
df = df.drop(columns=['tag_type'])
df.to_csv('all_v2.csv', index=False)

In [2]:
df = pd.read_csv('all_v2.csv', header=0, encoding='utf-8')

In [3]:
df.head()

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN
0,Lebanon 24,2020-07-12,"#كورونا يتلف رئة ""أبو عزرائيل"" (صورة) #العراق#...",#كورونا;#العراق;#lebanon24,"Corona damages the lung of ""Abu Azrael"" (photo...",0.000000,صور,33.2733,35.1939,Neutral,83000,صور,Sour,8,الجنوب,South
1,Sana,2020-07-12,حضرة اساتذة القانون بالجامعة اللبنانية المحترم...,#كورونا;#امتحانات_الموت,Honorable professors of law at the Lebanese Un...,0.325000,العربانية,33.8772,35.6786,Positive,51000,بعبدا,Baabda,5,جبل لبنان,Mount Lebanon
2,Jaras Scoop FM,2020-07-12,"كشفت ""رابطة طلاب الجامعة اللبنانية"" عبر تويتر ...",#كورونا,"The ""Lebanese University Students Association""...",-0.300000,طلصا,33.4833,35.3471,Negative,81000,صيدا,Saida,8,الجنوب,South
3,Lebanon Debate,2020-07-12,"حالة ""#كورونا"" جديدة في الجامعة اللبنانية - ال...",#كورونا,"New ""# Corona"" case at the Lebanese University...",0.136364,حاقل,34.1705,35.7501,Positive,56000,جبيل,Jbeil,5,جبل لبنان,Mount Lebanon
4,عاجل - قناة فلسطين اليوم,2020-07-12,#عاجلمدير مكتب إعلام الأسرى ناهد الفاخوري: حذر...,#كورونا;#عاجل,#UrgentThe director of the Prisoners' Informat...,-0.283333,مكاتبة,33.5628,35.3789,Negative,81000,صيدا,Saida,8,الجنوب,South

In [4]:
freq = pd.Series((" ".join(df.loc[df.tags.notnull(), 'tags'].str.replace(';', ' '))).split()).value_counts()
freq.to_csv('freq.csv')

In [43]:
df.tags.apply(lambda x: 'str' if isinstance(x, str) else 'non_str').value_counts()

str        46282
non_str     5401
Name: tags, dtype: int64

In [44]:
df.tags.isna()

0        False
1        False
2        False
3        False
4        False
         ...
51678    False
51679     True
51680    False
51681     True
51682     True
Name: tags, Length: 51683, dtype: bool

In [5]:
freq = pd.read_csv('freq.csv', header=0)

In [6]:
freq.loc[:50,]

               tag  count
0    #كورونا_لبنان  14991
1          #كورونا  12723
2           #لبنان   7550
3             none   7398
4         #Lebanon   4597
5     #خليك_بالبيت   4227
6    #فيروس_كورونا   2518
7        #covid_19   1799
8         #lebanon   1748
9     #لبنان_ينتفض   1530
10        #covid19   1524
11    #coronavirus   1302
12     #healthcare   1287
13         #corona   1280
14  #كورونا_الجديد   1047
15  #خليك_في_البيت   1005
16       #Covid_19    944
17           #jobs    749
18       #COVIDー19    746
19     #Healthcare    713
20     #صباح_الخير    706
21        #COVID19    665
22        #medical    664
23           #Jobs    664
24        #Medical    648
25       #كوفيد_19    542
26         #Jordan    533
27       #stayhome    460
28            #Job    459
29         #beirut    442
30    #وزارة_الصحة    431
31          #بيروت    428
32  #الحجر_المنزلي    400
33      #COVID2019    389
34  #لا_داعي_للهلع    386
35         #Corona    380
36       #covidー19    367
37   #كلن_يعني_كلن    358
38       #StayHome    355
39      #covid2019    353
40          #Dubai    346
41         #health    317
42            #UAE    312
43      #حسان_دياب    302
44            #job    301
45       #cannabis    297
46         #بلا_مخ    287
47          #Syria    285
48   #كورونا_فيروس    270
49         #Doctor    267
50       #الكورونا    266

In [7]:
with open('freq.json', 'w', encoding='utf-8') as f:
    freq.to_json(f, orient="index", force_ascii=False, indent=2)

In [27]:
def get_freq(df):
    return pd.Series((" ".join(df.loc[df.tags.notnull(), 'tags'].str.replace(';', ' '))).split()).value_counts()[:50]

grps = df.groupby(['KADAA_ID', 'KADAA_AR', 'KADAA_EN'])
res = {}
for name, group_df in grps:
    _id, ar, en = name
    res[int(_id)] = {
        'KADAA_AR': ar,
        'KADAA_EN': en,
        'trending': list(get_freq(group_df).index)
    }

In [28]:
import json
with open('kaddaas_trending.json', 'w', encoding='utf-8') as f:
    f.write(json.dumps(res, indent=2, ensure_ascii=False))