# Imports

In [1]:
import pandas as pd
import numpy as np

# 1 - Reading and Exploring Data

## Read Data
- header=0: the row index where the column names are
- sep=',': the column separator
- encoding='utf-8': specify the encoding of the read csv file

In [2]:
dataFrame = pd.read_csv('all.csv', header=0)

## Check data

In [3]:
dataFrame.head(6) # no argument ==> first 5 rows (default)

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN
0,Lebanon 24,2020-07-12,"#كورونا يتلف رئة ""أبو عزرائيل"" (صورة) #العراق#...",#كورونا;#العراق;#lebanon24,"Corona damages the lung of ""Abu Azrael"" (photo...",0.000000,صور,33.2733,35.1939,Neutral,83000,صور,Sour,8,الجنوب,South
1,Sana,2020-07-12,حضرة اساتذة القانون بالجامعة اللبنانية المحترم...,#كورونا;#امتحانات_الموت,Honorable professors of law at the Lebanese Un...,0.325000,العربانية,33.8772,35.6786,Positive,51000,بعبدا,Baabda,5,جبل لبنان,Mount Lebanon
2,Jaras Scoop FM,2020-07-12,"كشفت ""رابطة طلاب الجامعة اللبنانية"" عبر تويتر ...",#كورونا,"The ""Lebanese University Students Association""...",-0.300000,طلصا,33.4833,35.3471,Negative,81000,صيدا,Saida,8,الجنوب,South
3,Lebanon Debate,2020-07-12,"حالة ""#كورونا"" جديدة في الجامعة اللبنانية - ال...",#كورونا,"New ""# Corona"" case at the Lebanese University...",0.136364,حاقل,34.1705,35.7501,Positive,56000,جبيل,Jbeil,5,جبل لبنان,Mount Lebanon
4,عاجل - قناة فلسطين اليوم,2020-07-12,#عاجلمدير مكتب إعلام الأسرى ناهد الفاخوري: حذر...,#كورونا;#عاجل,#UrgentThe director of the Prisoners' Informat...,-0.283333,مكاتبة,33.5628,35.3789,Negative,81000,صيدا,Saida,8,الجنوب,South
5,قناة فلسطين اليوم,2020-07-12,#عاجلمدير مكتب إعلام الأسرى ناهد الفاخوري: حذر...,#كورونا;#عاجل,#UrgentThe director of the Prisoners' Informat...,-0.283333,مكاتبة,33.5628,35.3789,Negative,81000,صيدا,Saida,8,الجنوب,South

In [4]:
dataFrame.tail() # default is last 5 rows

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN
51678,lamsalebanon,2020-01-08,Take home message from #hcsmdxb19 :social medi...,#hcsmdxb19;#medtwitter;#bloggers;#some,Take home message from #hcsmdxb19 :social medi...,0.016667,بيروت,33.8719,35.5097,Positive,31000,بيروت,Beirut,3,بيروت,Beirut
51679,cristinesalloum,2020-01-07,A call for adoption\nGender : Male Husky\nAge ...,NaN,A call for adoption\nGender : Male Husky\nAge ...,0.280000,بيروت,33.8719,35.5097,Positive,31000,بيروت,Beirut,3,بيروت,Beirut
51680,alihashem_tv,2020-01-04,An official statement by the #PMU denied repor...,#pmu,An official statement by the #PMU denied repor...,-0.100000,بيروت,33.8719,35.5097,Negative,31000,بيروت,Beirut,3,بيروت,Beirut
51681,mariosemaan,2020-01-03,W by3mlo medical treatment kamen 😁,NaN,W by3mlo medical treatment kamen 😁,0.000000,بيروت,33.8719,35.5097,Neutral,31000,بيروت,Beirut,3,بيروت,Beirut
51682,aklfahed,2020-01-01,Nice reflections on medical innovation in the ...,NaN,Nice reflections on medical innovation in the ...,0.350521,دير زنون,33.7569,35.9117,Positive,41000,زحلة,Zahle,4,البقاع,Bekaa


## Data summary
For Number Fields only

In [5]:
dataFrame.describe()

          sentiment           lat          long      KADAA_ID   MOHAFAZA_ID
count  51683.000000  51683.000000  51683.000000  51683.000000  51683.000000
mean       0.072543     33.966874     35.700444  48524.234274      4.609330
std        0.230166      0.337758      0.262359  21301.191715      2.047589
min       -1.000000     33.080300     35.125600  11000.000000      1.000000
25%        0.000000     33.853300     35.509700  31000.000000      3.000000
50%        0.000000     33.871900     35.618300  52000.000000      5.000000
75%        0.136364     34.200800     35.788600  71000.000000      7.000000
max        1.000000     34.653900     36.514200  83000.000000      8.000000


## DataFrame Properties

In [6]:
dataFrame.columns

Index(['username', 'date', 'text', 'tags', 'translated_text', 'sentiment',
       'location', 'lat', 'long', 'sentiment_label', 'KADAA_ID', 'KADAA_AR',
       'KADAA_EN', 'MOHAFAZA_ID', 'MOHAFAZA_AR', 'MOHAFAZA_EN'],
      dtype='object')

In [7]:
dataFrame.columns[0]

'username'

In [8]:
dataFrame.index

RangeIndex(start=0, stop=51683, step=1)

In [9]:
dataFrame.index[100]

100

In [10]:
dataFrame.shape # (number of rows, number of columns)

(51683, 16)

In [11]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51683 entries, 0 to 51682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   username         51683 non-null  object
 1   date             51683 non-null  object
 2   text             51683 non-null  object
 3   tags             46282 non-null  object
 4   translated_text  51683 non-null  object
 5   sentiment        51683 non-null  float64
 6   location         51683 non-null  object
 7   lat              51683 non-null  float64
 8   long             51683 non-null  float64
 9   sentiment_label  51683 non-null  object
 10  KADAA_ID         51683 non-null  int64
 11  KADAA_AR         51683 non-null  object
 12  KADAA_EN         51683 non-null  object
 13  MOHAFAZA_ID      51683 non-null  int64
 14  MOHAFAZA_AR      51683 non-null  object
 15  MOHAFAZA_EN      51683 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 6.3+ MB

In [12]:
dataFrame.dtypes

username            object
date                object
text                object
tags                object
translated_text     object
sentiment          float64
location            object
lat                float64
long               float64
sentiment_label     object
KADAA_ID             int64
KADAA_AR            object
KADAA_EN            object
MOHAFAZA_ID          int64
MOHAFAZA_AR         object
MOHAFAZA_EN         object
dtype: object

## Accessing Data

In [13]:
dataFrame.username[:5] # column `username` as a Series

0                  Lebanon 24
1                        Sana
2              Jaras Scoop FM
3              Lebanon Debate
4    عاجل - قناة فلسطين اليوم
Name: username, dtype: object

In [14]:
dataFrame['username'][:5] # another syntax

0                  Lebanon 24
1                        Sana
2              Jaras Scoop FM
3              Lebanon Debate
4    عاجل - قناة فلسطين اليوم
Name: username, dtype: object

In [15]:
dataFrame.username.values[:5] # column `username` as am Array/List

array(['Lebanon 24', 'Sana', 'Jaras Scoop FM', 'Lebanon Debate',
       'عاجل - قناة فلسطين اليوم'], dtype=object)

# 2 - Column Operations

In [16]:
dataFrame.tags

0                    #كورونا;#العراق;#lebanon24
1                       #كورونا;#امتحانات_الموت
2                                       #كورونا
3                                       #كورونا
4                                 #كورونا;#عاجل
                          ...
51678    #hcsmdxb19;#medtwitter;#bloggers;#some
51679                                       NaN
51680                                      #pmu
51681                                       NaN
51682                                       NaN
Name: tags, Length: 51683, dtype: object

## Str Operations

In [17]:
dataFrame.tags.str.split(';')

0                     [#كورونا, #العراق, #lebanon24]
1                         [#كورونا, #امتحانات_الموت]
2                                          [#كورونا]
3                                          [#كورونا]
4                                   [#كورونا, #عاجل]
                            ...
51678    [#hcsmdxb19, #medtwitter, #bloggers, #some]
51679                                            NaN
51680                                         [#pmu]
51681                                            NaN
51682                                            NaN
Name: tags, Length: 51683, dtype: object

In [18]:
dataFrame.username.str.lower()

0                      lebanon 24
1                            sana
2                  jaras scoop fm
3                  lebanon debate
4        عاجل - قناة فلسطين اليوم
                   ...
51678                lamsalebanon
51679             cristinesalloum
51680                alihashem_tv
51681                 mariosemaan
51682                    aklfahed
Name: username, Length: 51683, dtype: object

## Functions
These are just some examples. There are way more functions that can be used.

### Mean()

In [19]:
dataFrame.sentiment.mean()

0.07254290273184945

### Unique()

In [20]:
dataFrame.username.unique()

array(['Lebanon 24', 'Sana', 'Jaras Scoop FM', ..., 'boutaridana',
       'mariosemaan', 'aklfahed'], dtype=object)

In [21]:
dataFrame.username.nunique() # unique count

15648

### Apply()

In [22]:
dataFrame.sentiment.apply(lambda s: 'Positive' if s > 0 else 'Neutral' if s == 0 else 'Negative')

0         Neutral
1        Positive
2        Negative
3        Positive
4        Negative
           ...
51678    Positive
51679    Positive
51680    Negative
51681     Neutral
51682    Positive
Name: sentiment, Length: 51683, dtype: object

# 3 - Slicing and Subsetting

## Series

In [23]:
usernames = dataFrame['username']
type(usernames)

pandas.core.series.Series

In [24]:
usernames[0]

'Lebanon 24'

In [25]:
usernames[-1] # doesn't work with negative indexing

KeyError: -1

## DataFrame

In [26]:
usernames = dataFrame[['username']] # double braces to get a dataframe
type(usernames)

pandas.core.frame.DataFrame

In [27]:
usernames.head()

                   username
0                Lebanon 24
1                      Sana
2            Jaras Scoop FM
3            Lebanon Debate
4  عاجل - قناة فلسطين اليوم

In [28]:
usernames[0] # doesn't work with normal indexing

KeyError: 0

## Using location for DataFrame slicing & indexing
This type of slicing/indexing depends on positve indexes and column names.  
\* Note that it also accepts named indexes.

In [29]:
dataFrame.loc[0] # row 0

username                                                  Lebanon 24
date                                                      2020-07-12
text               #كورونا يتلف رئة "أبو عزرائيل" (صورة) #العراق#...
tags                                      #كورونا;#العراق;#lebanon24
translated_text    Corona damages the lung of "Abu Azrael" (photo...
sentiment                                                          0
location                                                         صور
lat                                                          33.2733
long                                                         35.1939
sentiment_label                                              Neutral
KADAA_ID                                                       83000
KADAA_AR                                                         صور
KADAA_EN                                                        Sour
MOHAFAZA_ID                                                        8
MOHAFAZA_AR                                                   الجنوب
MOHAFAZA_EN                                                    South
Name: 0, dtype: object

In [30]:
dataFrame.loc[[0, 1, 100]] # a list of the row indexs that you want

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN
0,Lebanon 24,2020-07-12,"#كورونا يتلف رئة ""أبو عزرائيل"" (صورة) #العراق#...",#كورونا;#العراق;#lebanon24,"Corona damages the lung of ""Abu Azrael"" (photo...",0.000,صور,33.2733,35.1939,Neutral,83000,صور,Sour,8,الجنوب,South
1,Sana,2020-07-12,حضرة اساتذة القانون بالجامعة اللبنانية المحترم...,#كورونا;#امتحانات_الموت,Honorable professors of law at the Lebanese Un...,0.325,العربانية,33.8772,35.6786,Positive,51000,بعبدا,Baabda,5,جبل لبنان,Mount Lebanon
100,آلاء ترشيشي,2020-07-09,السؤال: هل ستتم محاسبة المغترب المستهتر الذي ل...,#كورونا;#الحجر_الصحي,Question: Will the reckless expatriate who did...,0.000,محاربية,33.5270,35.4471,Neutral,82000,جزّين,Jezzine,8,الجنوب,South

In [31]:
dataFrame.loc[-1] # doesn't work with negative indexes

KeyError: -1

In [32]:
dataFrame.loc[:5, ['username', 'date']] # provide column names to get their respective data

                   username        date
0                Lebanon 24  2020-07-12
1                      Sana  2020-07-12
2            Jaras Scoop FM  2020-07-12
3            Lebanon Debate  2020-07-12
4  عاجل - قناة فلسطين اليوم  2020-07-12
5         قناة فلسطين اليوم  2020-07-12

In [33]:
dataFrame.loc[:5, [1, 2]] # doesn't work with column indexes

KeyError: "None of [Int64Index([1, 2], dtype='int64')] are in the [columns]"

## Using integer-location for DataFrame slicing & Indexing
This type of slicing/indexing depends on positve/negative indexes like a normal python array

In [34]:
dataFrame.iloc[0] # row 0

username                                                  Lebanon 24
date                                                      2020-07-12
text               #كورونا يتلف رئة "أبو عزرائيل" (صورة) #العراق#...
tags                                      #كورونا;#العراق;#lebanon24
translated_text    Corona damages the lung of "Abu Azrael" (photo...
sentiment                                                          0
location                                                         صور
lat                                                          33.2733
long                                                         35.1939
sentiment_label                                              Neutral
KADAA_ID                                                       83000
KADAA_AR                                                         صور
KADAA_EN                                                        Sour
MOHAFAZA_ID                                                        8
MOHAFAZA_AR                                                   الجنوب
MOHAFAZA_EN                                                    South
Name: 0, dtype: object

In [35]:
dataFrame.iloc[-1] # last row

username                                                    aklfahed
date                                                      2020-01-01
text               Nice reflections on medical innovation in the ...
tags                                                             NaN
translated_text    Nice reflections on medical innovation in the ...
sentiment                                                   0.350521
location                                                    دير زنون
lat                                                          33.7569
long                                                         35.9117
sentiment_label                                             Positive
KADAA_ID                                                       41000
KADAA_AR                                                        زحلة
KADAA_EN                                                       Zahle
MOHAFAZA_ID                                                        4
MOHAFAZA_AR                                                   البقاع
MOHAFAZA_EN                                                    Bekaa
Name: 51682, dtype: object

In [36]:
dataFrame.iloc[[1, 2, 100]] # list of rows indexes

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN
1,Sana,2020-07-12,حضرة اساتذة القانون بالجامعة اللبنانية المحترم...,#كورونا;#امتحانات_الموت,Honorable professors of law at the Lebanese Un...,0.325,العربانية,33.8772,35.6786,Positive,51000,بعبدا,Baabda,5,جبل لبنان,Mount Lebanon
2,Jaras Scoop FM,2020-07-12,"كشفت ""رابطة طلاب الجامعة اللبنانية"" عبر تويتر ...",#كورونا,"The ""Lebanese University Students Association""...",-0.300,طلصا,33.4833,35.3471,Negative,81000,صيدا,Saida,8,الجنوب,South
100,آلاء ترشيشي,2020-07-09,السؤال: هل ستتم محاسبة المغترب المستهتر الذي ل...,#كورونا;#الحجر_الصحي,Question: Will the reckless expatriate who did...,0.000,محاربية,33.5270,35.4471,Neutral,82000,جزّين,Jezzine,8,الجنوب,South

In [37]:
dataFrame.iloc[:5, [0, 1]] # list of columns indexes

                   username        date
0                Lebanon 24  2020-07-12
1                      Sana  2020-07-12
2            Jaras Scoop FM  2020-07-12
3            Lebanon Debate  2020-07-12
4  عاجل - قناة فلسطين اليوم  2020-07-12

In [38]:
dataFrame.iloc[:5, ['username', 'date']] # doesn't work since it only accepts column indexes

IndexError: .iloc requires numeric indexers, got ['username' 'date']

## Conditional Splicing

### Using a Mask
A `mask` is a Series of True/False values for each row reflecting the truth of the conditional rule specified.  
This `mask` is then used to get the True values from the data frame.

In [39]:
mask = dataFrame.sentiment > 0
mask

0        False
1         True
2        False
3         True
4        False
         ...
51678     True
51679     True
51680    False
51681    False
51682     True
Name: sentiment, Length: 51683, dtype: bool

In [40]:
positive_sentiments = dataFrame[mask]
positive_sentiments.head()

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN
1,Sana,2020-07-12,حضرة اساتذة القانون بالجامعة اللبنانية المحترم...,#كورونا;#امتحانات_الموت,Honorable professors of law at the Lebanese Un...,0.325000,العربانية,33.8772,35.6786,Positive,51000,بعبدا,Baabda,5,جبل لبنان,Mount Lebanon
3,Lebanon Debate,2020-07-12,"حالة ""#كورونا"" جديدة في الجامعة اللبنانية - ال...",#كورونا,"New ""# Corona"" case at the Lebanese University...",0.136364,حاقل,34.1705,35.7501,Positive,56000,جبيل,Jbeil,5,جبل لبنان,Mount Lebanon
7,LBCI Lebanon News,2020-07-12,6615 إصابة جديدة بفيروس #كورونا في #روسيا,#كورونا;#روسيا,6615 A new infection with the Coruna virus in ...,0.136364,فيع,34.3484,35.7883,Positive,72000,الكورة,El Koura,7,الشمال,North
9,Yara Sreij,2020-07-12,اقاويل عن اغلاق تام و تعبئة عامة لتفادي موجة ت...,#لبنان;#كورونا,There are reports of complete closure and gene...,0.066815,اغا,34.5267,36.1319,Positive,11000,عكّار,Akkar,1,عكار,Akkar
13,Al Joumhouria,2020-07-12,"موعد موجة ""فيروس #كورونا"" الثانية... ومتى يبدأ...",#كورونا,When is the second Corona virus wave coming .....,0.100000,موليد,34.3950,35.9758,Positive,77000,المنية-الضنّية,El Minieh-Dennieh,7,الشمال,North

### Using dataFrame.loc[ mask, ... ]
Allows more control on what columns to get

In [41]:
positive_sentiment = dataFrame.loc[dataFrame.sentiment > 0]
positive_sentiment.head()

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN
1,Sana,2020-07-12,حضرة اساتذة القانون بالجامعة اللبنانية المحترم...,#كورونا;#امتحانات_الموت,Honorable professors of law at the Lebanese Un...,0.325000,العربانية,33.8772,35.6786,Positive,51000,بعبدا,Baabda,5,جبل لبنان,Mount Lebanon
3,Lebanon Debate,2020-07-12,"حالة ""#كورونا"" جديدة في الجامعة اللبنانية - ال...",#كورونا,"New ""# Corona"" case at the Lebanese University...",0.136364,حاقل,34.1705,35.7501,Positive,56000,جبيل,Jbeil,5,جبل لبنان,Mount Lebanon
7,LBCI Lebanon News,2020-07-12,6615 إصابة جديدة بفيروس #كورونا في #روسيا,#كورونا;#روسيا,6615 A new infection with the Coruna virus in ...,0.136364,فيع,34.3484,35.7883,Positive,72000,الكورة,El Koura,7,الشمال,North
9,Yara Sreij,2020-07-12,اقاويل عن اغلاق تام و تعبئة عامة لتفادي موجة ت...,#لبنان;#كورونا,There are reports of complete closure and gene...,0.066815,اغا,34.5267,36.1319,Positive,11000,عكّار,Akkar,1,عكار,Akkar
13,Al Joumhouria,2020-07-12,"موعد موجة ""فيروس #كورونا"" الثانية... ومتى يبدأ...",#كورونا,When is the second Corona virus wave coming .....,0.100000,موليد,34.3950,35.9758,Positive,77000,المنية-الضنّية,El Minieh-Dennieh,7,الشمال,North

In [42]:
positive_sentiment = dataFrame.loc[dataFrame.sentiment > 0, 'username']
positive_sentiment.head()

1                  Sana
3        Lebanon Debate
7     LBCI Lebanon News
9            Yara Sreij
13        Al Joumhouria
Name: username, dtype: object

In [43]:
positive_sentiment = dataFrame.loc[dataFrame.sentiment > 0, ['username', 'date']]
positive_sentiment.head()

             username        date
1                Sana  2020-07-12
3      Lebanon Debate  2020-07-12
7   LBCI Lebanon News  2020-07-12
9          Yara Sreij  2020-07-12
13      Al Joumhouria  2020-07-12

### Use () to separate conditions, & for AND, | for OR

In [44]:
positive_lebanon24_sentiment = dataFrame.loc[(dataFrame.sentiment > 0) & (dataFrame.username == 'Lebanon 24')]
positive_lebanon24_sentiment.head()

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN
17,Lebanon 24,2020-07-12,#لبنان يواجه تحدي عودة المغتربين وارتفاع عدد ا...,#لبنان;#كورونا;#Lebanon24,# Lebanon faces the challenge of the return of...,0.205000,صور,33.2733,35.1939,Positive,83000,صور,Sour,8,الجنوب,South
25,Lebanon 24,2020-07-12,سويسرا تسجل 108 إصابات جديدة بفيروس #كورونا ال...,#كورونا;#lebanon24,Switzerland records 108 new infections with th...,0.136364,صور,33.2733,35.1939,Positive,83000,صور,Sour,8,الجنوب,South
54,Lebanon 24,2020-07-11,"عدّاد "" #كورونا "" يُسجّل أرقاماً مرتفعة.. هل ب...",#لبنان;#كورونا;#lebanon24,"The ""Corona"" counter records high numbers. Has...",0.080000,صور,33.2733,35.1939,Positive,83000,صور,Sour,8,الجنوب,South
199,Lebanon 24,2020-07-05,"#أميركا تسجّل أكثر من 43 ألف إصابة جديدة بـ""#ك...",#كورونا;#أميركا;#lebanon24,# America records more than 43 thousand new in...,0.335227,صور,33.2733,35.1939,Positive,83000,صور,Sour,8,الجنوب,South
205,Lebanon 24,2020-07-04,"""البلد بأسره في خطر"".. #أميركا تسجل أعلى أرقام...",#كورونا;#أميركا;#lebanon24,"""The whole country is in danger"" he said# leba...",0.200000,صور,33.2733,35.1939,Positive,83000,صور,Sour,8,الجنوب,South

# 4 - Grouping Data using GroupBy

## GroupBy a column

In [45]:
username_groups = dataFrame.groupby('username')
type(username_groups)

pandas.core.groupby.generic.DataFrameGroupBy

## Check the resulted groups

In [86]:
group_dict = username_groups.groups

count = 0
for k, v in group_dict.items():
    if count == 5:
        break
    count += 1
    print(k, ' ==> ', v)

!! its me !!  ==>  Int64Index([6703], dtype='int64')
"El Baron"  ==>  Int64Index([18817, 26503], dtype='int64')
"El Soueidy Charbel" ''السويدي شربل"  ==>  Int64Index([3840, 4589, 6032, 10486, 10789, 11149, 14947, 15271, 16671, 17619], dtype='int64')
#  ==>  Int64Index([22478, 34249], dtype='int64')
#AceBreakingNews  ==>  Int64Index([31045], dtype='int64')

## Get a specifc group

In [47]:
lebanon24_group = username_groups.get_group('Lebanon 24')
lebanon24_group.head()

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN
0,Lebanon 24,2020-07-12,"#كورونا يتلف رئة ""أبو عزرائيل"" (صورة) #العراق#...",#كورونا;#العراق;#lebanon24,"Corona damages the lung of ""Abu Azrael"" (photo...",0.000000,صور,33.2733,35.1939,Neutral,83000,صور,Sour,8,الجنوب,South
10,Lebanon 24,2020-07-12,"حالة ""#كورونا"" بكلية الصحة - مجمّع الحدث #leba...",#كورونا;#lebanon24,"""Corona"" case at the Faculty of Health - event...",0.000000,صور,33.2733,35.1939,Neutral,83000,صور,Sour,8,الجنوب,South
14,Lebanon 24,2020-07-12,"إصابات #كورونا ترتفع.. هذا ما كشفته مصادر ""الد...",#لبنان;#كورونا;#lebanon24,Corona's injuries rise .. This is what the Int...,0.000000,صور,33.2733,35.1939,Neutral,83000,صور,Sour,8,الجنوب,South
17,Lebanon 24,2020-07-12,#لبنان يواجه تحدي عودة المغتربين وارتفاع عدد ا...,#لبنان;#كورونا;#Lebanon24,# Lebanon faces the challenge of the return of...,0.205000,صور,33.2733,35.1939,Positive,83000,صور,Sour,8,الجنوب,South
25,Lebanon 24,2020-07-12,سويسرا تسجل 108 إصابات جديدة بفيروس #كورونا ال...,#كورونا;#lebanon24,Switzerland records 108 new infections with th...,0.136364,صور,33.2733,35.1939,Positive,83000,صور,Sour,8,الجنوب,South

## Iterate Groups

In [85]:
count = 0
for group_name, group_dataFrame in username_groups:
    if count == 5:
        break
    count += 1
    print(group_name, ' ==> count: ', len(group_dataFrame))

!! its me !!  ==> count:  1
"El Baron"  ==> count:  2
"El Soueidy Charbel" ''السويدي شربل"  ==> count:  10
#  ==> count:  2
#AceBreakingNews  ==> count:  1

## GroupBy multiple columns

In [49]:
username_location_groups = dataFrame.groupby(['username', 'location'])

In [83]:
group_dict = username_location_groups.groups

count = 0
for k, v in group_dict.items():
    if count == 5:
        break
    count += 1
    print(k, ' ==> ', v)

('!! its me !!', 'الشعب')  ==>  Int64Index([6703], dtype='int64')
('"El Baron"', 'بيروت')  ==>  Int64Index([18817, 26503], dtype='int64')
('"El Soueidy Charbel" \'\'السويدي شربل"', 'بسوج')  ==>  Int64Index([3840, 4589, 6032, 10486, 10789, 11149, 14947, 15271, 16671, 17619], dtype='int64')
('#', 'بيروت')  ==>  Int64Index([22478, 34249], dtype='int64')
('#AceBreakingNews', 'كلش')  ==>  Int64Index([31045], dtype='int64')

## Get a specific group from a multiple column groupBy

In [51]:
lebanon24_group = username_location_groups.get_group(('Lebanon 24', 'صور')) # provide a typle of key data to search for
lebanon24_group.head()

,username,date,text,tags,translated_text,sentiment,location,lat,long,sentiment_label,KADAA_ID,KADAA_AR,KADAA_EN,MOHAFAZA_ID,MOHAFAZA_AR,MOHAFAZA_EN
0,Lebanon 24,2020-07-12,"#كورونا يتلف رئة ""أبو عزرائيل"" (صورة) #العراق#...",#كورونا;#العراق;#lebanon24,"Corona damages the lung of ""Abu Azrael"" (photo...",0.000000,صور,33.2733,35.1939,Neutral,83000,صور,Sour,8,الجنوب,South
10,Lebanon 24,2020-07-12,"حالة ""#كورونا"" بكلية الصحة - مجمّع الحدث #leba...",#كورونا;#lebanon24,"""Corona"" case at the Faculty of Health - event...",0.000000,صور,33.2733,35.1939,Neutral,83000,صور,Sour,8,الجنوب,South
14,Lebanon 24,2020-07-12,"إصابات #كورونا ترتفع.. هذا ما كشفته مصادر ""الد...",#لبنان;#كورونا;#lebanon24,Corona's injuries rise .. This is what the Int...,0.000000,صور,33.2733,35.1939,Neutral,83000,صور,Sour,8,الجنوب,South
17,Lebanon 24,2020-07-12,#لبنان يواجه تحدي عودة المغتربين وارتفاع عدد ا...,#لبنان;#كورونا;#Lebanon24,# Lebanon faces the challenge of the return of...,0.205000,صور,33.2733,35.1939,Positive,83000,صور,Sour,8,الجنوب,South
25,Lebanon 24,2020-07-12,سويسرا تسجل 108 إصابات جديدة بفيروس #كورونا ال...,#كورونا;#lebanon24,Switzerland records 108 new infections with th...,0.136364,صور,33.2733,35.1939,Positive,83000,صور,Sour,8,الجنوب,South

## Apply some function on the grouped data

### Series

In [52]:
username_mean_sentiment = dataFrame.groupby(['username'])['sentiment'].mean()
username_mean_sentiment # Series index: username, Series value: mean sentiment

username
!! its me !!                            0.000000
"El Baron"                              0.170000
"El Soueidy Charbel" ''السويدي شربل"   -0.005937
#                                       0.200000
#AceBreakingNews                        0.000000
                                          ...
🅔.🅑🅤 🅩🅘🅐🅓                               0.000000
🅘🅢🅢🅐                                    0.000000
🅜🅐🅗🅜🅞🅤🅓                                 0.000000
🅵🅴                                      0.017824
🅼                                       0.125000
Name: sentiment, Length: 15648, dtype: float64

### DataFrame - using reset_index()

In [53]:
username_mean_sentiment = dataFrame.groupby(['username'])['sentiment'].mean().reset_index()
username_mean_sentiment

                                   username  sentiment
0                              !! its me !!   0.000000
1                                "El Baron"   0.170000
2      "El Soueidy Charbel" ''السويدي شربل"  -0.005937
3                                         #   0.200000
4                          #AceBreakingNews   0.000000
...                                     ...        ...
15643                             🅔.🅑🅤 🅩🅘🅐🅓   0.000000
15644                                  🅘🅢🅢🅐   0.000000
15645                               🅜🅐🅗🅜🅞🅤🅓   0.000000
15646                                    🅵🅴   0.017824
15647                                     🅼   0.125000

[15648 rows x 2 columns]

### using external functions - agg()
Aggregate functions are functions that return only one result at the end

In [54]:
username_mean_sentiment = dataFrame.groupby(['username'])['sentiment'].agg(np.mean).reset_index()
username_mean_sentiment

                                   username  sentiment
0                              !! its me !!   0.000000
1                                "El Baron"   0.170000
2      "El Soueidy Charbel" ''السويدي شربل"  -0.005937
3                                         #   0.200000
4                          #AceBreakingNews   0.000000
...                                     ...        ...
15643                             🅔.🅑🅤 🅩🅘🅐🅓   0.000000
15644                                  🅘🅢🅢🅐   0.000000
15645                               🅜🅐🅗🅜🅞🅤🅓   0.000000
15646                                    🅵🅴   0.017824
15647                                     🅼   0.125000

[15648 rows x 2 columns]

### using external functions - apply()

In [55]:
username_mean_sentiment = dataFrame.groupby(['username'])['sentiment'].apply(np.mean).reset_index()
username_mean_sentiment

                                   username  sentiment
0                              !! its me !!   0.000000
1                                "El Baron"   0.170000
2      "El Soueidy Charbel" ''السويدي شربل"  -0.005937
3                                         #   0.200000
4                          #AceBreakingNews   0.000000
...                                     ...        ...
15643                             🅔.🅑🅤 🅩🅘🅐🅓   0.000000
15644                                  🅘🅢🅢🅐   0.000000
15645                               🅜🅐🅗🅜🅞🅤🅓   0.000000
15646                                    🅵🅴   0.017824
15647                                     🅼   0.125000

[15648 rows x 2 columns]

# 5 -  Transforming the DataFrame

In [56]:
df_row_to_col = (dataFrame[['username', 'sentiment']]).copy()
df_row_to_col['label'] = dataFrame.sentiment.apply(lambda s: 'Positive' if s > 0 else 'Neutral' if s == 0 else 'Negative')

## Rows To Columns - pivot_table(index=[ ], columns=[ ], values=[ ])
- index = columns to keep
- columns = columns that provide the labels of the new columns
- values = columns that provide the values for the new columns

In [57]:
df_row_to_col.head()

                   username  sentiment     label
0                Lebanon 24   0.000000   Neutral
1                      Sana   0.325000  Positive
2            Jaras Scoop FM  -0.300000  Negative
3            Lebanon Debate   0.136364  Positive
4  عاجل - قناة فلسطين اليوم  -0.283333  Negative

In [58]:
pivot_table = df_row_to_col.pivot_table(index=['username'], columns='label', values='sentiment').reset_index()
pivot_table.head()

label                              username  Negative  Neutral  Positive
0                              !! its me !!       NaN      0.0       NaN
1                                "El Baron"       NaN      NaN  0.170000
2      "El Soueidy Charbel" ''السويدي شربل" -0.220529      0.0  0.150556
3                                         #       NaN      0.0  0.400000
4                          #AceBreakingNews       NaN      0.0       NaN

## Columns To Rows - melt(id_vars=[ ], var_name=' ', value_name=' ')
- id_vars = Columns to keep
- var_name = Name of the new variables column
- value_name = Name of the new value column

In [59]:
df_col_to_row = pivot_table.copy()

In [60]:
df_col_to_row.melt(id_vars='username', var_name="label", value_name="sentiment").head()

                               username     label  sentiment
0                          !! its me !!  Negative        NaN
1                            "El Baron"  Negative        NaN
2  "El Soueidy Charbel" ''السويدي شربل"  Negative  -0.220529
3                                     #  Negative        NaN
4                      #AceBreakingNews  Negative        NaN

## Splitting dataFrame column data - dataFrame.str.split()

In [61]:
dataFrame.date.head()

0    2020-07-12
1    2020-07-12
2    2020-07-12
3    2020-07-12
4    2020-07-12
Name: date, dtype: object

### Series

In [62]:
splitted_data = dataFrame.date.str.split('-')
splitted_data.head()

0    [2020, 07, 12]
1    [2020, 07, 12]
2    [2020, 07, 12]
3    [2020, 07, 12]
4    [2020, 07, 12]
Name: date, dtype: object

### DataFrame - expand=True

In [63]:
splitted_data = dataFrame.date.str.split('-', expand=True)
splitted_data.head()

      0   1   2
0  2020  07  12
1  2020  07  12
2  2020  07  12
3  2020  07  12
4  2020  07  12

## Dropping a Column - doesn't change original DataFrame

In [64]:
df_after_drop = dataFrame.drop(columns=['username']) # or dataFrame.drop('username', axis='columns')
df_after_drop.columns

Index(['date', 'text', 'tags', 'translated_text', 'sentiment', 'location',
       'lat', 'long', 'sentiment_label', 'KADAA_ID', 'KADAA_AR', 'KADAA_EN',
       'MOHAFAZA_ID', 'MOHAFAZA_AR', 'MOHAFAZA_EN'],
      dtype='object')

## Adding a Column

In [65]:
dataFrame['sentiment_label'] = dataFrame.sentiment.apply(lambda s: 'Positive' if s > 0 else 'Neutral' if s == 0 else 'Negative')
dataFrame.columns[9]

'sentiment_label'

# 6 - External Functions - apply()

## Examples

### 1. print_cols(col)
- Prints all data for each column
- col = dataFrame column

In [70]:
count = 0

def print_cols(col):
    global count 
    
    if count == 5:
        return
    
    count += 1
    
    print('Data for Column [{}]'.format(col.name) )
    print(col) # Series
    print('-----------\n')
    
dataFrame.apply(print_cols)

Data for Column [username]
0                      Lebanon 24
1                            Sana
2                  Jaras Scoop FM
3                  Lebanon Debate
4        عاجل - قناة فلسطين اليوم
                   ...
51678                lamsalebanon
51679             cristinesalloum
51680                alihashem_tv
51681                 mariosemaan
51682                    aklfahed
Name: username, Length: 51683, dtype: object
-----------

Data for Column [date]
0        2020-07-12
1        2020-07-12
2        2020-07-12
3        2020-07-12
4        2020-07-12
            ...
51678    2020-01-08
51679    2020-01-07
51680    2020-01-04
51681    2020-01-03
51682    2020-01-01
Name: date, Length: 51683, dtype: object
-----------

Data for Column [text]
0        #كورونا يتلف رئة "أبو عزرائيل" (صورة) #العراق#...
1        حضرة اساتذة القانون بالجامعة اللبنانية المحترم...
2        كشفت "رابطة طلاب الجامعة اللبنانية" عبر تويتر ...
3        حالة "#كورونا" جديدة في الجامعة اللبنانية - ال...
4        #عاجلمدير مكتب إعلام الأسرى ناهد الفاخوري: حذر...
                               ...
51678    Take home message from #hcsmdxb19 :social medi...
51679    A call for adoption\nGender : Male Husky\nAge ...
51680    An official statement by the #PMU denied repor...
51681                   W by3mlo medical treatment kamen 😁
51682    Nice reflections on medical innovation in the ...
Name: text, Length: 51683, dtype: object
-----------

Data for Column [tags]
0                    #كورونا;#العراق;#lebanon24
1                       #كورونا;#امتحانات_الموت
2                                       #كورونا
3                                       #كورونا
4                                 #كورونا;#عاجل
                          ...
51678    #hcsmdxb19;#medtwitter;#bloggers;#some
51679                                       NaN
51680                                      #pmu
51681                                       NaN
51682                                       NaN
Name: tags, Length: 51683, dtype: object
-----------

Data for Column [translated_text]
0        Corona damages the lung of "Abu Azrael" (photo...
1        Honorable professors of law at the Lebanese Un...
2        The "Lebanese University Students Association"...
3        New "# Corona" case at the Lebanese University...
4        #UrgentThe director of the Prisoners' Informat...
                               ...
51678    Take home message from #hcsmdxb19 :social medi...
51679    A call for adoption\nGender : Male Husky\nAge ...
51680    An official statement by the #PMU denied repor...
51681                   W by3mlo medical treatment kamen 😁
51682    Nice reflections on medical innovation in the ...
Name: translated_text, Length: 51683, dtype: object
-----------

username           None
date               None
text               None
tags               None
translated_text    None
sentiment          None
location           None
lat                None
long               None
sentiment_label    None
KADAA_ID           None
KADAA_AR           None
KADAA_EN           None
MOHAFAZA_ID        None
MOHAFAZA_AR        None
MOHAFAZA_EN        None
dtype: object

### 2. print_rows(row, column_names=None)
- prints all rows and all of their columns or specified columns
- row = dataFrame row
- columns_names = names of the column we want to show

In [71]:
count = 0

def print_rows(row, column_names=None):
    global count
    
    if count == 5:
        return
    
    count += 1
    
    if column_names:
        print(row[column_names])
    else:
        print(row)
    print('-----------\n')
    
dataFrame.apply(print_rows, column_names=['username', 'date'], axis='columns')

username    Lebanon 24
date        2020-07-12
Name: 0, dtype: object
-----------

username          Sana
date        2020-07-12
Name: 1, dtype: object
-----------

username    Jaras Scoop FM
date            2020-07-12
Name: 2, dtype: object
-----------

username    Lebanon Debate
date            2020-07-12
Name: 3, dtype: object
-----------

username    عاجل - قناة فلسطين اليوم
date                      2020-07-12
Name: 4, dtype: object
-----------

0        None
1        None
2        None
3        None
4        None
         ...
51678    None
51679    None
51680    None
51681    None
51682    None
Length: 51683, dtype: object

### 3. vectorized_print(x, y)
- Vectorize the function so that it accepts lists of data and not just individual data
- x = a dataFrame column value
- y = another dataFrame column value

In [74]:
count = 0

@np.vectorize    
def vectorized_print(x, y):
    global count
    
    if count == 5:
        return
    
    count += 1
    
    print(x, ' ==> ', y)
    print('-----------')
    
vectorized_print(dataFrame['username'], dataFrame['date'])

Lebanon 24  ==>  2020-07-12
-----------
Lebanon 24  ==>  2020-07-12
-----------
Sana  ==>  2020-07-12
-----------
Jaras Scoop FM  ==>  2020-07-12
-----------
Lebanon Debate  ==>  2020-07-12
-----------

array([None, None, None, ..., None, None, None], dtype=object)