In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('kadaas_topics.csv')
df.head()

,year,month,KADAA_ID,KADAA_AR,KADAA_EN,Topics
0,2020,2,11000,عكّار,Akkar,"['Therapy', '#jobs']"
1,2020,2,21000,الهرمل,El Hermel,"['#الكورونا', 'تعليق الطائرات القادمة', '#وزير..."
2,2020,2,22000,بعلبك,Baalbek,"['Medical Aid', 'healthcare services']"
3,2020,2,31000,بيروت,Beirut,"['#كورونا #لبنان', 'refugees', 'وزير الصحة', '..."
4,2020,2,41000,زحلة,Zahle,"['#كورونا #لبنان_ينتفض #لا_داعي_للهلع', 'first..."

In [19]:
def fix(t):
    return t.replace('[', '').replace(']', '').replace('\'', '').replace(',', ' |')

df.Topics = df.Topics.apply(fix)

In [20]:
df.to_csv('kadaas_topics.csv', index=False)