In [6]:
import pandas as pd

In [ ]:
files= [file.path for file in os.scandir('places')]
files

In [ ]:
def get_dfs(files):
    dfs = []
    total = 0
    for file in files:
        category = file.split('\\')[1][:-4]
        df = pd.read_csv(file, header=0)
        df['category'] = category
        total += df.category.count()
        dfs.append(df[['section-result-title', 'section-result-location', 'category']].copy())
    
    print('total rows = ' + str(total))
    return dfs

In [ ]:
final_df = pd.DataFrame(columns=['section-result-title', 'section-result-location', 'category'])
final_df = final_df.append(get_dfs(files))

In [ ]:
final_df

In [ ]:
final_df.to_csv('places.csv', index=False)

In [7]:
df = pd.read_csv('places.csv', header=0)

In [8]:
df.head()

                   place location category
0           Damon prison      NaN   prison
1         Prison Tsalmon      NaN   prison
2             Prison Six      NaN   prison
3        HaKarmel Prison      NaN   prison
4  Tadmor Palmyra Prison      NaN   prison

In [9]:
df['location'].value_counts()

Beirut                                         338
Unnamed Road                                    54
Jounieh                                         27
Tripoli                                         18
Sea Side Rd                                     16
                                              ...
Kırıkhan                                         1
Al Imam Moussa Al Sader Street                   1
Broummana                                        1
Said Freiha street                               1
Bourj Hammoud Sect.07 Str.02 Bld.012 Beirut      1
Name: location, Length: 806, dtype: int64

In [14]:
df[df.place.str.lower().str.contains('prison')]

                     place location category
0             Damon prison      NaN   prison
1           Prison Tsalmon      NaN   prison
2               Prison Six      NaN   prison
3          HaKarmel Prison      NaN   prison
4    Tadmor Palmyra Prison      NaN   prison
..                     ...      ...      ...
161        Hasharon Prison      NaN   prison
164            Ofer Prison      NaN   prison
165          Ayalon Prison      NaN   prison
166          Perrin prison      NaN   prison
167       Maasiyahu Prison      NaN   prison

[73 rows x 3 columns]