In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('geo_tweets2.csv', header=0)

In [3]:
df.head()

,username,time,text,tags,latitude,longitude,location
0,@melhemErizk,2m,The #Artist Who Escaped New York’s COVID-19 #P...,"['#Pandemic', '#Artist']",33.894204,35.485805,Beirut
1,@kataeb_Ar,4m,#كورونا.. المغرب يسجل 3387 إصابة خلال يوم,['#كورونا'],33.894204,35.485805,Beirut
2,@Mustaqbalweblb,4m,فرنسا تعلن فرض حالة طوارئ طبية بسبب زيادة تفشي...,[],33.894204,35.485805,Beirut
3,@Marwa_MissG,5m,Replying to \n@homedad4,[],33.894204,35.485805,Beirut
4,@Lebanon24,7m,فرنسا تعلن فرض حالة طوارئ طبية بسبب زيادة تفشي...,['#lebanon24'],33.894204,35.485805,Beirut

In [4]:
f'{len(df):,}'

'643'

In [5]:
g = df.groupby(['latitude', 'longitude', 'location'])

In [6]:
f'{len(g.groups):,}'

'1'

In [7]:
d = g.count().reset_index()
d

    latitude  longitude location  username  time  text  tags
0  33.894204  35.485805   Beirut       637   637   637   643

In [8]:
df.location.nunique()

1

In [11]:
df.text.nunique()

620

In [12]:
df.username.nunique()

333

In [13]:
g1 = df.groupby(['username', 'time', 'text'])
f'{len(g1.groups):,}'

'638'

In [16]:
null_users = df[df.username.isna()]
f'{len(null_users):,}'

'6'

In [ ]:
f'{len(df[df.username.isna()]):,}'