In [3]:
import pandas as pd
from Text_Mining.info_extraction import InfoExtraction

In [8]:
df = pd.read_csv('tweets.csv', header=0)
df = df[['tweet', 'username']]
info = InfoExtraction(df, 'tweet')

d:\desktop\github\m2-project\twittervenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.head()

                                               tweet        username
0                                2 days break Corona       maroungh1
1                  I don‚Äôt think its a corona matter      karampeter
2  So the minister of health went on to brag abou...     assafnicole
3  Lhamdela kelshi tamem... corona w kaza üòÇüòÇ i wi...  nabillllllll75
4  Aywaa a7la chi...\nBa3d l corona khalas fi naz...         perejad

In [10]:
from LebaneseTranslation.translate import LanguageUtil
lang = LanguageUtil()
df['lang'] = df['tweet'].apply(lang.detect_language)
df.head()

                                               tweet        username lang
0                                2 days break Corona       maroungh1   en
1                  I don‚Äôt think its a corona matter      karampeter   en
2  So the minister of health went on to brag abou...     assafnicole   en
3  Lhamdela kelshi tamem... corona w kaza üòÇüòÇ i wi...  nabillllllll75   en
4  Aywaa a7la chi...\nBa3d l corona khalas fi naz...         perejad   ar

In [11]:
df.to_csv('tweets_v2.csv')

In [35]:
import re
ARABIC_REGEX = '[\u0621-\u064A]+'
SPACES = ' \t\n'
AR_LETTERS = 'ÿßÿ®ÿ™ÿ´ÿ¨ÿ≠ÿÆÿØÿ∞ÿ±ÿ≤ÿ≥ÿ¥ÿµÿ∂ÿ∑ÿ∏ÿπÿ∫ŸÅŸÇŸÉŸÑŸÖŸÜŸáŸàŸäÿ°'
EN_LETTERS = 'abcdefghijklmnopqrstuvwxyz'
LB_LETTERS = EN_LETTERS + '23578' + SPACES
def remove_non_letters(string):
    letters_only = []
    for char in string:
        if char in LB_LETTERS:
            letters_only.append(char)
    return ''.join(letters_only)
df_2 = df.copy()
# df_2['is_lb'] = df_2['tweet'].apply(lambda x: re.search(ARABIC_REGEX, x) is None)
df_2['tweet'] = df['tweet'].apply(remove_non_letters)
df_2.head()

                                               tweet        username lang
0                                 2 days break orona       maroungh1   en
1                     dont think its a corona matter      karampeter   en
2  o the minister of health went on to brag about...     assafnicole   en
3  hamdela kelshi tamem corona w kaza  i will com...  nabillllllll75   en
4  ywaa a7la chi\na3d l corona khalas fi nazle kh...         perejad   ar

In [36]:
df_2.to_csv('tweets_v3.csv')